<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/predictions">Predict Life Expectancy</a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/tableau"> Visualizations</a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/datatable"> Data</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/aboutus">About Us</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <hr>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>Abby Herrup</h3>
                <a href="https://www.linkedin.com/in/abigailherrup" target="_blank"><img style="width:35%" src="static/images/abigail 14.jpg"></a>
                <p style="font-size: small;">Click on my image to go to my LinkedIn</p>
            </div>
            <div class="col-md-8">
                <strong>About Abby:</strong>
                <p>Abby graduated from Southern Methodist University's Cox School of Business in 2018 with a BBA in Finance and a minor in Chinese. She joined Accenture in 2018 as a part of the Corporate Development and Transaction Services team. In her
                    role she works on some of Accenture's largest and most complex deals to help strategize and develop commercial structures/deal shapes and drive value creation for Accenture’s client's. She is currently completing a Data Science Bootcamp
                    through SMU to further her technical skills. Abby's top 5 strengths according to Clifton strength’s finder are: harmony, achiever, consistency, competition and significance</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Jim Worlein</h3>
                <a href="https://www.linkedin.com/in/jimworlein" target="_blank"><img style="width:35%" src="static/images/Jim Worlein.jpg"></a>
                <p style="font-size: small;">Click on my image to go to my LinkedIn</p>
            </div>
            <div class="col-md-8">
                <strong>About Jim:</strong>
                <p>Jim is an operations management professional with a passion for data and storytelling, Jim is excited and proud to add data science to his toolchest of skills. He would like to thank his family and classmates for their support throughout
                    his bootcamp journey.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Clarence Robinson</h3>
                <a href="http://www.linkedin.com/in/clarence-robinson-76a8701a2" target="_blank"><img style="width:35%" src="static/images/IMG_1047.HEIC"></a>
                <p style="font-size: small;">Click on my image to go to my LinkedIn</p>
            </div>
            <div class="col-md-8">
                <strong>About Clarence:</strong>
                <p>Clarence is an Entrepreneur and Data Analyst with knowledge and experience in interpreting and analyzing data in order to drive successful business solutions. Proficient knowledge in statistics, mathematics, and analytics. Excellent understanding
                    of business operations and analytics tools for effective analyses of data..</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Mark Burton</h3>
                <a href="https://www.linkedin.com/in/mark-l-burton/" target="_blank"><img style="width:35%" src="static/images/mark_image.jfif"></a>
                <p style="font-size: small;">Click on my image to go to my LinkedIn</p>
            </div>
            <div class="col-md-8">
                <strong>About Mark:</strong>
                <p>Mark is a CPA and is currently a tax accountant for PricewaterhouseCoopers, Mark is excited to have expanded his skillset to include data science. He is looking forward to see where these new skills will take his career after this bootcamp
                    is over.</p>
            </div>
        </div>
    </div>
</body>

</html>